@font-face {
  font-family: "GothamProRegular";
  src: url("./GothamProRegular/GothamProRegular.eot");
  src: url("./GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("./GothamProRegular/GothamProRegular.woff") format("woff"),
  url("./GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("./GothamProBold/GothamProBold.eot");
  src: url("./GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("./GothamProBold/GothamProBold.woff") format("woff"),
  url("./GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlack";
  src: url("./GothamProBlack/GothamProBlack.eot");
  src: url("./GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
  url("./GothamProBlack/GothamProBlack.woff") format("woff"),
  url("./GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProItalic";
  src: url("./GothamProItalic/GothamProItalic.eot");
  src: url("./GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
  url("./GothamProItalic/GothamProItalic.woff") format("woff"),
  url("./GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMedium";
  src: url("./GothamProMedium/GothamProMedium.eot");
  src: url("./GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
  url("./GothamProMedium/GothamProMedium.woff") format("woff"),
  url("./GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLight";
  src: url("./GothamProLight/GothamProLight.eot");
  src: url("./GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("./GothamProLight/GothamProLight.woff") format("woff"),
  url("./GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("./GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("./GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
  url("./GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
  url("./GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLightItalic";
  src: url("./GothamProLightItalic/GothamProLightItalic.eot");
  src: url("./GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
  url("./GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
  url("./GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBoldItalic";
  src: url("./GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("./GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("./GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
  url("./GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlackItalic";
  src: url("./GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("./GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
  url("./GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
  url("./GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}