/*
Theme Name: Subaru
Theme URI: http://subaru.ru
Author: RoketDev
Author URI: http://roketdev.com
Description: The 2017 theme for WordPress.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: encorcapital

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic-ext');
@import url('./fonts/font.css');
.no-padding{
  padding: 0 !important;
}
.div-position-right{
  float: right;
}
.top-header-div{
  position: relative;
  background-color: #131313;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.top-header-left-text{
  font-family: 'Open Sans';
  float: left;
  color: #eeeeee;
  font-size: 13px;
}
.top-header-right-icon{
  float: right;
}
.top-header-vk-icon, 
.top-header-fb-icon,
.top-header-inst-icon,
.top-header-ok-icon{
    padding: 0;
    float: left;
    margin-right: 18px;
}
.top-header-search-icon{
    padding: 0;
    float: left;
}
.top-header-vk-img{
    width: 20px;
    height: 15px;
}
.top-header-fb-img{
    width: 8px;
    height: 15px;
}
.top-header-inst-img{
    width: 17px;
    height: 15px;
}
.top-header-ok-img{
    width: 10px;
    height: 15px;
}
.top-header-search-img{
    width: 16px;
    height: 15px;
}
.top-header-line-icon{
    height: 18px;
    width: 1px;
    margin-top: 2px;
    background-color: #737373;
    padding: 0px;
    float: left;
    margin-right: 30px;
    margin-left: 12px;
}
.header-menu-container{
    float: left;
    text-align: center;
}
.header-menu-container > .menu > ul{
    list-style: none;
    margin-top: 11px;
}
.header-menu-container > .menu > ul > li{
    display: inline-block;
    margin-right: 40px;
}
.header-menu-container > .menu > ul > li > a{
    font-family: 'Open Sans';
    color: #303030;
    font-size: 15px;
}
.header-menu-container > .menu > ul > li > a:hover {
    font-family: 'Open Sans';
    color: #0198d1;
    text-decoration: none;
    font-size: 15px;
}
.header-phone{
    font-family: 'GothamProBold';
    font-size: 16px;
    color: #000000;
}
.header-link{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #0198d1;
}
.header-margin{
    margin-bottom: 20px;
}
@media (max-width: 1199px) and (min-width : 992px){
  .header-phone{
    font-family: 'GothamProBold';
    font-size: 15px;
    color: #000000;
  }
}
@media (max-width: 991px) and (min-width : 768px){
  .header-phone{
    font-family: 'GothamProBold';
    font-size: 12px;
    color: #000000;
  }
  .header-link{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
    color: #0198d1;
  }
  .header-menu-container > .menu > ul > li {
    display: inline-block;
    margin-right: 7px;
  }
}
.main-footer-conteiner{
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 80px;
}
.footer-title-1{
  display: inline-block;
  font-family: 'GothamProBold';
  color: #000000;
  font-size: 14px;
  margin-bottom: 30px;
}
.footer-adress,
.footer-phone{
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #737373;
  font-size: 13px;
  margin-bottom: 12px;
}
.footer-phone > a{
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #737373;
  font-size: 13px;
  margin-left: 5px;
}
.footer-email{
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #737373;
  font-size: 13px;
  margin-bottom: 60px;
}
.footer-email > a{
  font-family: 'Open Sans';
  font-weight: 300;
  color: #0198d1;
  font-size: 13px;
  text-decoration: underline;
  margin-left: 5px;
}
.footer-reklama{
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #737373;
  font-size: 13px;
  margin-bottom: 80px;
}
.footer-menu-container > .menu > ul{
  list-style: none;
  font-family: 'GothamProBold';
  color: #000000;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-menu-container > .menu > ul > li{
  display: inline-block;
  margin-right: 15px;
}
.footer-menu-container > .menu > ul > li > a{
  color: #000000;
}
.footer-social-icon{
  padding: 0 15px;
  margin-bottom: 60px;
}
.footer-img-margin{
  margin-right: 10px;
}
.footer-date-span{
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  color: #737373;
  padding: 0 15px;
  margin-bottom: 10px;
}
@media (max-width: 991px) and (min-width: 768px){
  .footer-title-1 {
    display: inline-block;
    font-family: 'GothamProBold';
    color: #000000;
    font-size: 11px;
    margin-bottom: 30px;
  }
  .footer-menu-container > .menu > ul {
    list-style: none;
    font-family: 'GothamProBold';
    color: #000000;
    font-size: 11px;
    margin-bottom: 30px;
  }
  .footer-adress, .footer-phone {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #737373;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .footer-email {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #737373;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .footer-social-icon {
    padding: 0 15px;
    margin-bottom: 65px;
  }
}
.main-top-banner{
  background-image: url(/wp-content/themes/subaru/images/main_top_banner.png);
  height: 550px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}
@media(max-width: 1920px) and (min-width: 1700px){
  .main-top-banner{
    background-image: url(/wp-content/themes/subaru/images/main_top_banner.png);
    height: 550px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
  }
  .main-banner-title{
    font-family: 'GothamProBold';
    font-size: 60px;
    color: #ffffff;
    text-decoration: underline;
    margin-top: 140px;
    display: inline-block;
    
  }
  .main-banner-btn{
    background-color: #0198d1;
    margin-top: 80px;
    width: 200px;
    padding: 20px 15px;
  }
}
@media(max-width: 1699px) and (min-width: 1400px){
  .main-top-banner{
    background-image: url(/wp-content/themes/subaru/images/main_top_banner.png);
    height: 392px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
  }
  .main-banner-title{
    font-family: 'GothamProBold';
    font-size: 46px;
    color: #ffffff;
    text-decoration: underline;
    margin-top: 65px;
    display: inline-block;
    
  }
  .main-banner-btn{
    background-color: #0198d1;
    margin-top: 63px;
    width: 200px;
    padding: 20px 15px;
  }
}
@media(max-width: 1399px) and (min-width: 1100px){
  .main-top-banner{
    background-image: url(/wp-content/themes/subaru/images/main_top_banner.png);
    height: 330px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
  }
  .main-banner-title{
    font-family: 'GothamProBold';
    font-size: 42px;
    color: #ffffff;
    text-decoration: underline;
    margin-top: 35px;
    display: inline-block;
    
  }
  .main-banner-btn{
    background-color: #0198d1;
    margin-top: 63px;
    width: 200px;
    padding: 20px 15px;
  }
}
@media(max-width: 1099px) and (min-width: 768px){
  .main-top-banner{
    background-image: url(/wp-content/themes/subaru/images/main_top_banner.png);
    height: 290px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
  }
  .main-banner-title{
    font-family: 'GothamProBold';
    font-size: 35px;
    color: #ffffff;
    text-decoration: underline;
    margin-top: 29px;
    display: inline-block;
    
  }
  .main-banner-btn{
    background-color: #0198d1;
    margin-top: 63px;
    width: 200px;
    padding: 20px 15px;
  }
}
.banner-btn-title{
  font-family: 'GothamProBold';
  font-size: 14px;
  color: #ffffff;
}
.main-midlle-container{
  background-color: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 70px;
  margin-top: 80px;

}
.main-text-title{
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.main-text-title > img{
  margin-right: 10px;
}
.main-text-container{
    background-image: url(/wp-content/themes/subaru/images/services-main-bg.png);
    min-height: 401px;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main-midle-text-title{
  font-family: 'GothamProBold';
  font-size: 15px;
  color: #000000;
}
.middle-main-text{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  color: #4b4b4b;
  line-height: 21px;
  margin-left: 50px;
  margin-right: 50px;
}
.main-text-container-width{
  width: 30%;
  float: left;
}
.main-text-container-width:first-child{
  width: 30%;
  float: left;
  margin-right: 5%;
}
.main-text-container-width:nth-child(2){
  width: 30%;
  float: left;
  margin-right: 5%;
}
.ms-thumb-frame-selected {
    opacity: 1;
    outline: 4px solid #0198d1;
    outline-offset: -4px;
}
.slider-title{
  font-family: 'GothamProBold';
  font-size: 26px;
  color: #000000;
  margin-bottom: 50px;
}
.scrol-title{
  display: inline-block;
  font-family: 'GothamProBold';
  font-size: 18px;
  color: #000000;
  margin-bottom: 25px;
}
.scrol-text{
  font-family: 'Open Sans';  font-size: 13px;
  color: #303030;
  line-height: 22px;
}
.main-scrol-container{
  float: right;
  max-height: 325px;
  overflow: auto;
  margin-top: 100px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.main-scrol-container:after{
  float: right;
  max-height: 325px;
  overflow: auto;
  margin-top: 100px;
  
}
.main-scrol-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.main-scrol-container::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
.main-scrol-container::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.main-promotions-title-container{
  margin-top: 70px;
  margin-bottom: 50px;
}
.main-promotions-title{
  font-family: 'GothamProBold';
  font-size: 26px;
  color: #000000;
}
.main-promotions-all-link{
  float: right;
}
.main-promotions-all-link > a{
  font-family: 'GothamProBold';
  font-size: 14px;
  color: #0198d1;
  text-decoration: underline;
}
.promotions-img{
  position: relative;
}
.more-info{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #131313;
  padding: 20px 35px 20px 45px;
}
.more-info:hover{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #0198d1;
  padding: 20px 35px 20px 45px;
}
.more-info > a,
.more-info > a:hover,
.more-info > a:active{
  font-family: 'GothamProBold';
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.imd-promo{
  width: 100%;
}
.promo_arrow{
  margin-left: 10px;
}
.promotions-text-title{
  font-family: 'GothamProBold';
  font-size: 14px;
  color: #000000;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
}
.promotions-text{
  font-family: 'Open Sans';
  font-size: 13px;
  color: #303030;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  }
.promotions-text-container{
  margin-bottom: 65px;
}
.main-form-container{
    background-image: url(/wp-content/themes/subaru/images/main_form_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}
.main-form-title{
  text-align: center;
  font-family: 'GothamProBold';
  font-size: 18px;
  color: #ffffff;
  margin-top: 80px;
  margin-bottom: 30px;
}
.main-form-margin{
  margin-bottom: 18px;
}
.main-input-style > input{
  background-color: transparent;
  width: 100%;
  height: 48px;
  border: solid 1px #ffffff;
  padding: 20px 18px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  color: #ffffff;
}
.main-input-style > input::-webkit-input-placeholder{
  color: #ffffff;
}
.main-checkbox-style{
  margin-top: 11px;
  cursor: pointer;
}
.main-checkbox-style > label > input{
  display: none;
}
.checkbox-custom{
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #0198d1;
  float: left;
  margin-right: 14px;
  cursor: pointer;
}
.checkbox:checked+.checkbox-custom{
    background-image: url(/wp-content/themes/subaru/images/form_check.png);
    background-position-x: 1px;
}
.label{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  margin-top: 3px;
  cursor: pointer;
}
.main-select-style > select{
  width: 100%;
  height: 48px;
  background: transparent;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  color: #ffffff;
  padding: 13px 18px;
  border: solid 1px #ffffff;
}
.main-select-style > select > option{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  color: #000000;
}
.main-textarea-style > textarea::-webkit-input-placeholder{
  color: #ffffff;
}
.main-textarea-style > textarea{
  background: transparent;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  color: #ffffff;
  padding: 20px 18px;
  width: 100%;
  height: 120px;
}
.label-licenz-1,
.label-licenz-1:hover{
  font-family: 'Open Sans';
  font-weight: 300;
  color: #0198d1;
  font-size: 13px;
  text-decoration: underline;
}
.label-licenz{
  font-family: 'Open Sans';
  font-weight: 300;
  color: #ffffff;
  font-size: 13px;
  margin-top: 3px;
  cursor: pointer;
}
.checkbox-custom-licenz{
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: solid 1px #fff;
  float: left;
  margin-right: 15px;
  cursor: pointer;
}
.checkbox-licenz:checked + .checkbox-custom-licenz{
  background-image: url(/wp-content/themes/subaru/images/check.png);
  background-position-x: 1px;
  background-repeat: no-repeat;
  background-position: center; 
}
.main-form-btn{
  height: 50px;
  font-family: 'GothamProBold';
  color: #000;
  font-size: 14px;
  padding: 16px 0px;
  background-color: #fff;
  margin-left: -15px;
  text-align: center;
  cursor: pointer;
}
.services-title{
  font-family: 'GothamProBold';
  font-size: 26px;
  color: #000000;
  display: inline-block;
  margin-bottom: 50px;  
}
.services-container{
  position: relative; 
}
.more-info-serv{
  position: absolute;
  right: 0px;
  bottom: 0;
  background-color: #131313;
  padding: 15px 35px 15px 40px;
}
.more-info-serv:hover{
  position: absolute;
  right: 0px;
  bottom: 0;
  background-color: #0198d1;
  padding: 15px 35px 15px 40px;
}
.more-info-serv > a,
.more-info-serv > a:hover,
.more-info-serv > a:active{
  font-family: 'GothamProBold';
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.last-services-container{
  outline: solid 10px #f5f5f5;
  outline-offset: -10px;
  position: relative;
}
.last-services-container > .img-1{
  margin: 45px 30px;
}
.last-services-container .img-2,
.last-services-container > .img-1 > img{
  width: 100%;
}
.services-container > img{
  width: 100%;
}
.service-main-container{
  height: 380px;
}
.nissan-logo-container{
  position: absolute;
  right: 0;
  top: 0;
  width: 25.5%;
  height: 28.5%;
}

@media (max-width:1199px) and (min-width: 992px){
  .service-main-container {
    height: 350px;
  }
}
@media (max-width:991px) and (min-width: 768px){
  .service-main-container {
    height: 350px;
  }
  .service-maine-container-margin{
    margin-bottom: 20px;
  }
}
@media (max-width:767px){
  .service-main-container {
    height: auto;
  }
  .service-maine-container-margin{
    margin-bottom: 20px;
  }
  .promotions-text-container {
    margin-bottom: 40px;
  }
}
.one-service-title{
  font-family: 'GothamProBold';
  font-size: 26px;
  color: #000000;
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
}
.one-service-text > p{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  color: #303030;
  line-height: 23px;
}
.back-to-all-serv > a,
.back-to-all-serv > a:hover{
  text-decoration: none;
  font-family: 'GothamProBold';
  font-size: 14px;
  color: #000000;
}
.back-to-all-serv > a > img{
  margin-right: 12px;
}
.t-o-img{
  width: 100%;
  margin-top: 80px;
}

.plus-t-o-1 > span {
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 14px;
    color: #000000;
    margin-left: 90px;
  }
.top-one-serv-border{
  position: relative;
  margin-bottom: 80px;
  padding-bottom: 70px;
}
.border-one-serv-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 15px;
  border-top: 1px solid #eeeeee;
}
.all-t-o{
  display: inline-block;
  font-family: 'GothamProBold';
  font-size: 18px;
  color: #000000;
  margin-bottom: 25px;
  width: 100%;
  margin-left: 15px;
}
.plus-t-o > span{
  display: inline-block;
  font-family: 'GothamProBold';
  font-size: 14px;
  color: #000000;
  margin-left: 90px;
  margin-top: 22px;
}
.plus-t-o{
  background-image: url(/wp-content/themes/subaru/images/plus_t_o.png);
  height: 68px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 17px;
  background-origin: content-box;
  cursor: pointer;
  
}
.plus-t-o-1{
  background-image: url(/wp-content/themes/subaru/images/plus_t_o.png);
  height: 68px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 17px;
  background-origin: content-box;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.plus-t-o:hover{
  background-image: url(/wp-content/themes/subaru/images/plus_t_o_hover.png);
  height: 68px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 17px;
  background-origin: content-box;
  cursor: pointer;
}
.plus-t-o-1:hover{
  background-image: url(/wp-content/themes/subaru/images/plus_t_o_hover.png);
  height: 68px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 17px;
  background-origin: content-box;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.plus-t-o-1:hover > span{
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 14px;
    color: #fff;
    margin-left: 90px;
}
.breadcrumbs-comtainer-style > .container{
  text-align: right;
  margin-bottom: 50px;
  margin-top: 20px;
}
.breadcrumbs-comtainer-style > div > span > a > span{
  font-family: 'Open Sans';
  font-weight: 300;
  color: #737373;
  font-size: 11px;
}
.breadcrumbs-comtainer-style > div > span > span{
  font-family: 'Open Sans';
  font-weight: 300;
  color: #737373;
  font-size: 11px;
}
@media(max-width:767px){
  .t-o-img {
    width: 100%;
    margin-top: 15px;
  }
  .one-service-title {
    font-family: 'GothamProBold';
    font-size: 26px;
    color: #000000;
    display: inline-block;
    margin-bottom: 5px;
  }
  .main-input-style:first-child{
    margin-bottom: 18px;
  }
  .main-form-btn {
    height: 50px;
    font-family: 'GothamProBold';
    color: #000;
    font-size: 14px;
    padding: 16px 0px;
    background-color: #fff;
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
 }
 .checkbox-custom-licenz {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: solid 1px #fff;
    float: left;
    margin-right: 15px;
    margin-top: 8px;
  }
  .footer-first-mob-div{
    text-align: left;
  }
  .footer-menu-container > .menu > ul {
    list-style: none;
    font-family: 'GothamProBold';
    color: #000000;
    font-size: 16px;
    margin-bottom: 30px;
    padding-left: 15px;
  }
  .footer-social-icon {
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .footer-title-1 {
    display: block;
    font-family: 'GothamProBold';
    color: #000000;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .footer-adress, .footer-phone {
    display: block;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #737373;
    font-size: 13px;
    margin-bottom: 12px;
  }
  .footer-last-div-mob-pad{
    padding: 0 15px !important;
  }
  .footer-email {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #737373;
    font-size: 13px;
    margin-bottom: 35px;
  }
  .footer-reklama {
    display: block;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #737373;
    font-size: 13px;
    margin-bottom: 40px;
    margin-top: 25px;
  }
  .footer-date-span {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #737373;
    padding: 0 0px; 
    margin-bottom: 10px;
  }
  .footer-reklama-mob {
    display: block;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #737373;
    font-size: 13px;
    margin-bottom: 57px;
  }
  .main-promotions-title-container {
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .promotions-all-link-mob-div{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
  .main-promotions-all-link {
    float: none;
  }
  .main-text-container {
    background-image: url(/wp-content/themes/subaru/images/services-main-bg.png);
    height: auto;
    min-height: inherit;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 20px;
  }
  .middle-main-text {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #4b4b4b;
    line-height: 21px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
  }
}
.mobile-menu-container{
    background-image: url(/wp-content/themes/subaru/images/mobile_menu_icom.png);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
  }
  .mobile-menu-cose-container{
    background-image: url(/wp-content/themes/subaru/images/mobile_menu_close_icon.png);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
  }
  .mobile-menu-text-container{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 520px;
    background-color: #ffffff;
    z-index: 2;
    width: 90%;
    padding-top: 85px;
  }
  .mobile-menu-info-container{
    padding-left: 40px;
    padding-top: 90px;
  }
  .modile-menu-info{
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 13px;
    color: #737373;
    margin-bottom: 12px;
  }
  .modile-menu-info-link{
    font-family: 'GothamProBold';
    font-size: 13px;
    color: #0198d1;
    text-decoration: underline; 
  }
  .mobile-menu-style > .menu > ul{
    list-style: none;
  }
  .mobile-menu-style > .menu > ul > li > a,
  .mobile-menu-style > .menu > ul > li > a:hover{
    font-family: 'GothamProBold';
    font-size: 18px;
    color: #000000;
    line-height: 40px;
    text-decoration: none;
  }
  .custom-modal-content{
    border-radius: 0 !important;
    background-color: #ffffff !important;
  }
  .custom-modal-content > .modal-header{
    border-bottom: none !important;
    position: relative;
  }
  .custom-modal-content > .modal-header > .close,
  .custom-modal-content > .modal-header > .close:hover,
  .custom-modal-content > .modal-header > .close:active{
    background-color: #f5f5f5;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: -45px;
    margin-top: 0 !important;
    font-size: 35px;
    outline: none;
  }
  .custom-modal-content > .modal-header > .modal-title{
    font-family: 'GothamProBold';
    font-size: 26px;
    color: #000000;
    margin-top: 80px;
  }
  .custom-modal-content{
    padding: 0 45px;
    border-radius: 0 !important;
    background-color: #ffffff !important;
  }
  .modal-main-input-style > input {
    background-color: transparent;
    width: 100%;
    height: 48px;
    border: solid 1px #cdcdcd;
    padding: 20px 18px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #4b4b4b;
    outline: none;
}
.modal-label {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #4b4b4b;
    display: inline-block;
    margin-top: 3px;
    cursor: pointer;
}
.modal-main-select-style > select {
    width: 100%;
    height: 48px;
    background: transparent;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #4b4b4b;
    padding: 13px 18px;
    border: solid 1px #cdcdcd;
    outline: none;
}
.modal-main-textarea-style > textarea {
    background: transparent;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #4b4b4b;
    padding: 20px 18px;
    width: 100%;
    height: 120px;
    outline: none;
}
.modal-checkbox-custom-licenz {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: solid 1px #cdcdcd;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}
.modal-label-licenz{
    font-family: 'Open Sans';
    font-weight: 300;
    color: #4b4b4b;
    font-size: 12px;
    margin-top: 4px;
    display: inline-block;
    cursor: pointer;
}
.mobile-label-licenz-1, .mobile-label-licenz-1:hover {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #0198d1;
    font-size: 12px;
    text-decoration: underline;
}
.modal-main-form-btn{
    height: 50px;
    font-family: 'GothamProBold';
    color: #fff;
    font-size: 14px;
    padding: 16px 0px;
    background-color: #000;
    margin-left: -15px;
    text-align: center;
    cursor: pointer;
}
.checkbox-licenz:checked+.modal-checkbox-custom-licenz {
    background-image: url(/wp-content/themes/subaru/images/check_modal.png);
    background-position-x: 6px;
    background-position-y: 6px;
    background-repeat: no-repeat;
}
.wp-pagenavi {
    clear: both;
    margin-bottom: 70px;
}
.wp-pagenavi span.current {
    font-weight: bold;
    height: 25px;
    width: 25px;
    background-color: #0198d1;
    display: inline-block;
    border: none !important;
    font-family: 'GothamProBold';
    color: #fff !important;
}
.wp-pagenavi a, .wp-pagenavi span {
    height: 25px;
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 3px 5px;
    margin: 2px;
    width: 25px;
    display: inline-block;
    border: none !important;
    font-family: 'GothamProBold';
    color: #000 !important;
}
.map-div-style{
  height: 410px; 
  position: absolute;
  width: 30%;
  right: 0;
  top: 30%;
  padding-right: 15px;
}
@media (max-width: 767px){
  .map-div-style{
    height: 410px; 
    position: relative;
    width: 100%;
    right: 0;
    top: 30%;
    padding-right: 15px;
    margin-bottom: 60px;
  }
  .modal-main-input-style:first-child {
    margin-bottom: 18px;
  }
  .modal-main-form-btn {
    height: 50px;
    font-family: 'GothamProBold';
    color: #fff;
    font-size: 12px;
    padding: 16px 0px;
    background-color: #0198d1;
    margin-left: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
  }
  .modal-label {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 12px;
    color: #4b4b4b;
    display: inline-block;
    margin-top: 3px;
    cursor: pointer;
  }
  .custom-modal-content {
    padding: 0 20px;
    border-radius: 0 !important;
    background-color: #ffffff !important;
  }
  .modal-label-licenz {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #4b4b4b;
    font-size: 13px;
    margin-top: -5px;
    display: block;
  }
  .xs-logo-width > a > img{
    width: 100%;
  }
  .plus-t-o-1:hover {
    background-image: url(/wp-content/themes/subaru/images/plus_t_o_hover.png);
    height: 55px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 17px;
    background-origin: content-box;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
}
@media (max-width: 355px){
  .header-phone {
    font-family: 'GothamProBold';
    font-size: 15px;
    color: #000000;
    margin-top: -9px;
  }
}
@media(min-width:768px) and (max-width:1199px){
  .one-service-title {
    font-family: 'GothamProBold';
    font-size: 26px;
    color: #000000;
    display: inline-block;
    margin-bottom: 19px;
  }
  
}
@media(min-width:992px) and (max-width:1199px){
  .plus-t-o-1 > span {
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 13px;
    color: #000000;
    margin-left: 80px;
  }
  .plus-t-o > span {
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 13px;
    color: #000000;
    margin-left: 60px;
    margin-top: 16px;
  }
  .checkbox-custom {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #0198d1;
    float: left;
    margin-right: 7px;
    cursor: pointer;
  }
  .label {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 11px;
    color: #fff;
    display: inline-block;
    margin-top: 4px;
    cursor: pointer;
  }
  .label-licenz {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    margin-top: 2px;
  }
  .main-form-btn {
    height: 50px;
    font-family: 'GothamProBold';
    color: #000;
    font-size: 14px;
    padding: 16px 29px;
    background-color: #fff;
    margin-left: 28%;
    margin-top: 20px;
  }
}
@media(min-width:768px) and (max-width:991px){
  .map-div-style{
    height: 365px; 
    position: absolute;
    width: 30%;
    right: 0;
    top: 30%;
    padding-right: 15px;
  }
  .plus-t-o-1 > span {
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 14px;
    color: #000000;
    margin-left: 80px;
  }
  .plus-t-o > span {
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 14px;
    color: #000000;
    margin-left: 75px;
    margin-top: 21px;
  }
  .main-text-container {
    background-image: url(/wp-content/themes/subaru/images/services-main-bg.png);
    min-height: 452px;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .main-text-title {
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .middle-main-text {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    color: #4b4b4b;
    line-height: 21px;
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media(max-width:767px){
  .plus-t-o-1 {
    background-image: url(/wp-content/themes/subaru/images/plus_t_o.png);
    height: 55px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 17px;
    background-origin: content-box;
    cursor: pointer;
  }
  .plus-t-o-1 > span {
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 14px;
    color: #000000;
    margin-left: 22%;
  }
  .plus-t-o {
    background-image: url(/wp-content/themes/subaru/images/plus_t_o.png);
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 17px;
    background-origin: content-box;
    cursor: pointer;
  }
  .plus-t-o > span {
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 20px;
    color: #000000;
    margin-left: 155px;
    margin-top: 32px;
  }
  .main-scrol-container {
    float: right;
    max-height: inherit;
    overflow: auto;
    margin-top: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
  .scrol-text {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #303030;
    line-height: 25px;
  }
  .main-banner-title {
    font-family: 'GothamProBold';
    font-size: 35px;
    color: #ffffff;
    text-decoration: underline;
    margin-top: 29px;
    display: inline-block;
  }
  .main-top-banner {
    background-image: url(/wp-content/themes/subaru/images/main_top_banner_mob.png);
    height: 450px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
  }
  .main-banner-btn {
    background-color: #0198d1;
    margin-top: 63px;
    width: 200px;
    padding: 20px 15px;
  }
  
}
