/*
Theme Name: Subaru
Theme URI: http://subaru.ru
Author: RoketDev
Author URI: http://roketdev.com
Description: The 2017 theme for WordPress.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: encorcapital

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic-ext');
@import url('./fonts/font.css');

.img_share {
    width: 100%;
    height: 100%;
}

.more-info-shares {
    right: 0;
}

.more-info-shares:hover {
    right: 0;
}

.date_shares {
    font-family: "Open Sans";
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #0198d1;
    margin-bottom: 30px;
}

.shares_tit {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 55px;
}

.text_entry {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    color: #303030;
    margin-bottom: 50px;
}

.marg_foto_share {
    margin-bottom: 50px;
}

.more_shares {
    background-color: #131313;
    padding: 15px 25px;
    margin-bottom: 80px;
}

.more_shares:hover {
    background-color: #0198d1;
    padding: 15px 25px;
}

.more_shares > a,
.more_shares > a:hover,
.more_shares > a:active {
    font-family: 'GothamProBold';
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.img_whight {
    width: 100%;
}

.contacts_titles {
    font-family: 'GothamProBlack';
    font-size: 26px;
    color: #000000;
    display: inline-block;
    margin-bottom: 45px;
}

.adress_cont {
    font-family: 'GothamProBold';
    font-size: 18px;
    color: #000000;
    margin-bottom: 28px;
}

.text_cont {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #303030;
    line-height: 1.2;
    margin-bottom: 50px;
}

.span_email {
    text-decoration: underline;
    color: #0198d1;
}

.form_cont_1 {
    margin-bottom: 80px;
}

.p_text_about_sub {
    margin-bottom: 25px;
}

.close_bott_x {
    opacity: 1;
    margin-top: 0 !important;
}

.modal_head {
    padding: 0 !important;
    border-bottom: none !important;
}

.adress_serv_title {
    font-family: 'GothamProBlack';
    font-size: 26px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
}

.mad_body_desc {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #303030;
    line-height: 1.6;
    padding-left: 60px;
    padding-right: 60px;
}

.mad_body_desc p {
    margin-bottom: 25px;
}

.mod_footer_serv {
    border-top: none !important;
    padding-left: 60px;
    padding-right: 60px;
}

.more_bot_serv {
    padding: 14px 20px;
    width: 200px;
    height: 50px;
    margin-bottom: 75px;
}

.more_bot_serv:hover {
    padding: 14px 20px;
    width: 200px;
    height: 50px;
    margin-bottom: 75px;
}

.modal-open {
    overflow: inherit !important;
    padding: 0 !important;
}

@media (max-width: 1920px) and (min-width: 1201px) {
    .class_form22 {
        margin-left: 0%;
        padding-left: 0;
    }

    .img_catr_cont {
        position: absolute;
        width: 100%;
    }

    .p_tel {
        padding-left: 17%;
    }

    .spare_parts_title_form {
        padding: 0 90px;
    }

    .text_spare {
        text-align: left;
        line-height: 1.6;
        margin-bottom: 80px;
    }

    .about_sub_title {
        color: white;
        position: absolute;
        text-align: center;
        width: 100%;
        margin-top: 5%;
    }

    .img_whig_ab {
        width: 100%;
        height: 180px;
    }

    .form_cont_12 {
        margin-bottom: 80px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .img_catr_cont {
        position: absolute;
        width: 100%;
    }

    .p_tel {
        padding-left: 21%;
    }

    .spare_parts_title_form {
        padding: 0 90px;
    }

    .text_spare {
        text-align: left;
        line-height: 1.6;
        margin-bottom: 60px;
    }

    .about_sub_title {
        color: white;
        position: absolute;
        text-align: center;
        width: 100%;
        margin-top: 7%;
    }

    .img_whig_ab {
        width: 100%;
        height: 180px;
    }

    .form_cont_12 {
        margin-bottom: 60px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .img_catr_cont {
        width: 100%;
        position: absolute;
        top: 4px;
    }

    .p_tel {
        padding-left: 28%;
    }

    .spare_parts_title_form {
        padding: 0 90px;
    }

    .text_spare {
        text-align: left;
        line-height: 1.6;
        margin-bottom: 60px;
    }

    .about_sub_title {
        color: white;
        position: absolute;
        text-align: center;
        width: 100%;
        margin-top: 4%;
    }

    .img_whig_ab {
        width: 100%;
        height: 110px;
    }

    .form_cont_12 {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .contacts_titles {
        font-family: 'GothamProBlack';
        font-size: 18px;
        margin-bottom: 40px;
    }

    .p_tel {
        margin-left: 62px !important;
    }

    .text_cont {
        line-height: 0.8 !important;
        margin-bottom: 40px;
    }

    .img_catr_cont {
        width: 100%;
        margin-bottom: 60px;
    }

    .text_spare {
        text-align: left;
        line-height: 1.6;
        margin-bottom: 40px;
    }

    .form_cont_12 {
        margin-bottom: 25px;
    }

    .about_sub_title {
        color: white;
        position: absolute;
        text-align: center;
        width: 100%;
        margin-top: 5%;
    }

    .img_whig_ab {
        width: 100%;
        height: 100px;
    }
}

@media (max-width: 992px) and (min-width: 320px) {
    .shares-title {
        margin-bottom: 20px;
    }

    .shares_title_2 {
        margin-bottom: 30px;
    }

    .shares_title_span {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .more_shares {
        margin-bottom: 30px !important;
        text-align: center;
        padding: 10px 5px;
    }

    .more_shares:hover {
        padding: 10px 5px;
    }
}